*{
  font-family: 'B612', sans-serif !important;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 65.5%;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 35.8rem;
  max-height: 25rem;
  margin: auto;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 2px 5px;
  width: 100%;
}

.table{
  border-collapse: separate;
  border-spacing: 0 1em;
}
.headerRow{
  position: sticky;
  z-index: 1;
  top: 0;
  background: white;
  width: 102%;
  display: flex;
}
.headerRow .class_issue, .headerRow .class_timeSpent{
  width: 10em;
}
.headerRow .class_comments{
  width: 19em;
}
.tableContainer{
  max-height: 25em;
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.tableContainer:hover {
  overflow-y: auto;
}

.tableContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.tableContainer::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.tableContainer::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.class_issue{
  width: 8em;
}
.class_timeSpent{
  width: 6em;
}
.class_comments, .class_logDate{
  width: 10em;
}
.class_search{
  width: 74%;
}

.class_issue, .class_timeSpent, .class_comments, .class_search, .class_logDate{
  height: 1.5em;
  text-align: center;
  padding: 4px 3px 2px 4px;
  border-radius: 6px;
  outline: none;
}
.btn-save{
  width: 98%;
  height: 2.6em;
  text-align: center;
  border-radius: 6px;
  outline: none;
  background: green;
  color: azure;
  border: 0;
  cursor: pointer;
  margin-bottom: 1em;
}
.saveInProgress{
  padding: 1em;
}
.btn-add{
  width: 8em;
  height: 2.3em;
  text-align: center;
  border-radius: 6px;
  outline: none;
  background: black;
  color: azure;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}
.del-btn{
  width: 2em;
  height: 2.3em;
  text-align: center;
  border-radius: 9px;
  outline: none;
  background: orangered;
  color: azure;
  border: 0;
  cursor: pointer;
}

.searchOrAdd{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: stretch;
  width: 100%;
}

.includeOptions{
  width: 98%;
  display: flex;
  justify-content: flex-start;
  column-gap: 1em;
}
.includeOptions  input {
  margin: 1px 4px;
}
.includeOptions  label {
  vertical-align: top;
}

button, .del-btn {
  box-shadow: 2px 1px 2px gray;
}

button:active, .del-btn:active {
  box-shadow: 0 0 0 white;
}

.logRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 1.4em 0;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  align-content: space-between;
}
.logDelBtn {
  border: none;
  font-size: 10px;
  border-radius: 5px;
  background: orangered;
  color: azure;
  height: 2em;
  cursor: pointer;
}
.suggestions{
  background: #f8f8ff;
  list-style: none;
  padding: 8px;
  max-height: 10em;
  position: absolute;
  width: calc(200px + 1rem);
  overflow-y: scroll;
  z-index: 999 !important;
  top:2em;
  scroll-behavior: smooth;
  left: 0;
}
.suggestions::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.suggestions::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.suggestions::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.suggestions li{
  padding: 0.5em;
  border-bottom: 1px solid beige;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: flex-start;
}

.suggestion-active,
.suggestions li:hover {
  background-color: honeydew;
  cursor: pointer;
  font-weight: 700;
  outline:none;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
li .img-issue-id {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
li .img-issue-id > span {
  margin-left: 0.3em;
}

.no-options{
  position: absolute;
  display: flex;
  justify-content: center;
  color: gainsboro;
  top: 3em;
  left: 1em;
}

.savedLogs{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.savedLogs>span{
  padding: 0 0.5em 0 0.5em;
}
.logDetails {
  text-align: left;
  padding: 0 1em 1em;
  max-height: 15em;
  margin: 0;
  overflow: hidden;
}

.logDetails li {
  display: flex;
  align-items:center;
  padding: 4px;
}
.logDetails:hover {
  overflow-y: auto;
}

.logDetails::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.logDetails::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.logDetails::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.error> p{
  color: red;
  width: 100%;
  text-align: center;
}
.error > div {
  display: flex;
  justify-content: flex-end;
}
.error > div > a {
  margin-right: 1em;
}

footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

footer > span{
  font-size: 8px;
  margin: 0 1em;
  color: cadetblue;
}
